
  @media screen and ( max-width: 650px ) {
    .Social {
      
    }

    .Bio {
      grid-column: 4/9 !important;
      grid-row: 1 !important;
    }
    .Logo {
      grid-column: 1/4 !important;
      grid-row: 1 !important;
    }
  }
