
@font-face {
  font-family: 'ChakraPetch-Regular';
  src: url('ChakraPetch-Regular.eot?#iefix') format('embedded-opentype'),  url('ChakraPetch-Regular.woff') format('woff'), url('ChakraPetch-Regular.ttf')  format('truetype'), url('ChakraPetch-Regular.svg#ChakraPetch-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
